<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ '/assets/css/tailwind.css' | url }}">
    </head>

    <body class="bg-black font-josefin">
        <main class="mt-16">
            <div class="prose prose-neutral prose-invert m-auto">
                <div class="text-center mb-12">
                    <h1 class="text-lg">{{ title }}</h1>
                </div>
                <div>{{ content }}</div>
            </div>
        </main>
    </body>
</html>
