<div class="aspect-video">
  <iframe
    class="h-full w-full rounded-lg"
    src="{{ url }}"
    width="100%"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
  </iframe>
</div>
